[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "*"
cachetools = "*"
certifi = "*"
chardet = "*"
dj-database-url = "*"
django = "*"
django-heroku = "*"
google-api-core = "*"
google-auth = "*"
googleapis-common-protos = "*"
httplib2 = "*"
idna = "*"
oauthlib = "*"
protobuf = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
six = "*"
sqlparse = "*"
uritemplate = "*"
urllib3 = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
