* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292929;
    min-height: 100vh;
    width: 100%;
}

.select {
    font-size: 1rem !important;
}

.input {
    background-color: #363636;
}

.light-info {
    color: #ADADAD;
    padding-left: 0.25rem;
}

.dark-info {
    color: #ADADAD;
    background-color: #292929;
    border-radius: 5px;
    font-size: 1.25rem;
    padding: 0.15rem;
}

.hidden {
    display: none !important;
}

.is-light {
    border-color: #363636;
    background-color: #ADADAD !important;
}

.is-light:hover {
    border-color: #292929 !important;
}

.input {
    border-color: transparent;
    width: auto;
    border-radius: 15px;
}

.input:hover {
    border-color: transparent;
}

.select {
    border-color: transparent;
    border-right-color: #ADADAD;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.option-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #525252;
    flex-wrap: wrap;
    margin: 2rem 2rem 0rem 2rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.machine-container {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: auto;
    margin: 0rem 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.drum-machine {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    border-radius: 5px;
    border-color: #292929;
    background-color: #292929;
    margin: 1rem;
    overflow-x: auto;
}

.machine-row {
    display: flex;
    flex-direction: row;
    justify-content: space;
    flex-wrap: nowrap;
    border: 4px #292929 solid;
    border-radius: 10px;
    
}

.drum-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    border: 2px #292929 solid;
    height: 6rem;
}

.bottom-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.instr-info-box {
    background-color: #ADADAD;
    color: #292929;
    padding: 0.25rem;
    border: 2px #292929 solid;
    border-radius: 10px;
    width: fit-content;
    height: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.instr-controls {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #363636;
    border-radius: 15px;
}

.side-controls {
    border-right: 2px #292929 solid;
}

.name {
    padding: 0.15rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.pad {
    font-size: 0.5rem;
    display: block;
    width: auto;
    min-width: 2rem;
    max-width: 6rem;
    flex: 1;
    height: 100% !important;
    background-color: #525252;
    border: 2px #292929 solid;
    border-radius: 15px;
}

.pad:hover {
    border: 2px #ADADAD solid;
    cursor: pointer;
}

.highlighted {
    border-color: #009DFF;
}

.selected {
    background-color: #ADADAD;
}

.thin-btn {
    color: #ADADAD;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.15rem;
    padding-right: 0px;
    margin-left: 0.15rem;
    width: 1.75rem;
    height: 100%;
    background-color: #363636;
    border: 2px #292929 solid;
    border-radius: 10px;
}

.thin-btn:hover {
    background-color: #525252;
    border: 2px #ADADAD solid;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .option-container{
        margin: 0rem !important;
    }
    .machine-container{
        margin: 0rem !important;
    }
}