{% extends "drummachine/layout.html" %}

{% block title %}BeatBits{% endblock %}

{% block body %}
    <div class="option-container">
        <div id="kit-select">
            <label for="kits">Select A Kit</label>
            <select name="kits" id="kits">
                {% for kit in kits %}
                    <option value={{ kit.id }}>{{ kit.name }}</option>
                {% endfor %}
            </select>
            <button id="kit-select-btn" onclick="loadKit(this)">Load Kit</button>
        </div>
        <div>
            <label for="bpm-input">BPM</label>
            <input name="bpm-input" id="bpm-input" type="number" value="140" min="60" max="180" step="1" onChange="changeBpm(this)"/>
        </div>
    </div>
    <div class="machine-container">
        <div id="drum-machine">
            <div class="drum-row">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            </div>
            <div class="drum-row">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            </div>
            <div class="drum-row">
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            <input type="checkbox" />
            </div>
        </div>
        <div class="controls">
            <button onclick="startPattern()" id="play-btn">
                <span class="icon is-medium">
                    <i class="fas fa-lg fa-play"></i>
                </span>
            </button>
            <button onclick="pausePattern()" id="pause-btn">
                <span class="icon is-medium">
                    <i class="fas fa-lg fa-pause"></i>
                </span>
            </button>
            <button onclick="stopPattern()" id="stop-btn">
                <span class="icon is-medium">
                    <i class="fas fa-lg fa-stop"></i>
                </span>
            </button>
        </div>
    </div>
{% endblock %}