{% extends "drummachine/layout.html" %}

{% block title %}BeatBits{% endblock %}

{% block body %}
    <div class="option-container py-2">
        <div class="name-container">
            <h3 class="bit-name" id="name">Untitled Bit</h3>
        </div>
        <div class="top-controls">
            <div class="control field pt-1 options">
                <div>
                    <button class="button is-light" onclick="moveNamePanel(this)">
                        <span class="icon is-large">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="name-label">Change Name</span>
                    </button>
                </div>
                <div id="name-panel" class="control field is-grouped has-addons hidden">
                    <label class="hidden" for="name-input">Change Name</label>
                    <input class="input" type="text" id="name-input" name="name-input" maxlength="50" placeholder="Text input">
                    <button class="button is-light" id="add-name-btn" onclick="changeName()">Confirm</button>
                </div>
            </div>
            <div class="control field pt-1 options">
                <div>
                    <button class="button is-light" onclick="moveKitPanel(this)">
                        <span class="icon is-large">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="kit-label">Load Kit</span>
                    </button>
                </div>
                <div class="kit-field control is-grouped has-addons field hidden" id="kit-select">
                    <label class="hidden" for="kits">Select A Kit</label>
                    <select name="kits" id="kits" class="select">
                        {% for kit in kits %}
                            <option value={{ kit.id }}>{{ kit.name }}</option>
                        {% endfor %}
                    </select>
                    <button class="button is-light" id="kit-select-btn" onclick="loadKit(this)">Load Kit</button>
                </div>
            </div>
        </div>
        <div class="pt-1 instrument-list-container">
            <div id="add-instr-panel" class="instrument-list hidden">
                <div data-name="none" class="instrument-select hidden" >
                    <div class="name">
                        none
                    </div>
                    <div>
                        <button class="button is-light" onclick="playSample(this)">
                            <span class="icon is-large">
                                <i class="fas fa-volume-up"></i>
                            </span>
                        </button>
                        <button class="button is-light" onclick="addRow(this)">
                            <span class="icon is-large">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <button class="button is-light" onclick="moveAddPanel(this)">
                <span class="icon is-large">
                    <i class="fas fa-angle-down"></i>
                </span>
                <span class="add-instr-label">Add Instruments</span>
                <span class="icon is-large">
                    <i class="fas fa-angle-down"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="machine-container py-2">
        <div id="drum-machine" class="drum-machine">
            <div class="machine-row hidden" data-instr="none">
                <div class="instr-info-box">
                    <div class="side-controls">
                        <div>
                            <button class="button is-grey" onclick="removeInstr(this)">
                                <span class="icon is-large">
                                    <i class="fas fa-times"></i>
                                </span>
                            </button>
                        </div>
                        <div>
                            <button class="button is-grey" onclick="muteInstr(this)">
                                <span class="icon is-large">
                                    <i class="fas fa-volume-up"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                    <div class="instr-name">
                        <h4 class="name">placeholder</h4>
                    </div>
                </div>
                <div class="drum-row" data-instr="none">
                    <div class="pad" data-selected="0" data-i="0" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="1" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="2" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="3" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="4" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="5" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="6" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="7" onclick="selectPad(this)"></div>
                    <span class="break"></span>
                    <div class="pad" data-selected="0" data-i="8" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="9" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="10" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="11" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="12" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="13" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="14" onclick="selectPad(this)"></div>
                    <div class="pad" data-selected="0" data-i="15" onclick="selectPad(this)"></div>
                </div>
                <div class="instr-controls hidden">
                    <div class="input-dark">
                        <label class="hidden" for="pitch-input">Pitch</label>
                        <input class="slider" oninput="changePitch(this)" name="pitch-input" type="range" value="1" min="0.1" max="2" step="0.1" />
                        <span class="dark-info" name="pitch">1</span>
                        <span class="light-info">Pitch</span>
                    </div>
                    <div class="input-dark">
                        <label class="hidden" for="volume-input">Volume</label>
                        <input class="slider" oninput="changeVolume(this)" name="volume-input" type="range" value="0" min="-24" max="0" step="1" />
                        <span class="dark-info" name="volume">0db</span>
                        <span class="light-info">Volume</span>
                    </div>
                </div>
                <div class="thin-btn" onclick="movePanel(this)">
                    <span class="icon is-small">
                        <i class="fas fa-angle-down"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="bottom-controls py-2">
            <div class="field is-grouped has-addons">
                <button class="button is-light is-medium" onclick="startPattern()" id="play-btn">
                    <span class="icon is-medium">
                        <i class="fas fa-lg fa-play"></i>
                    </span>
                </button>
                <button class="button is-light is-medium" onclick="pausePattern()" id="pause-btn">
                    <span class="icon is-medium">
                        <i class="fas fa-lg fa-pause"></i>
                    </span>
                </button>
                <button class="button is-light is-medium" onclick="stopPattern()" id="stop-btn">
                    <span class="icon is-medium">
                        <i class="fas fa-lg fa-stop"></i>
                    </span>
                </button>
            </div>
            <div class="field pt-2 options">
                <div class="input-dark">
                    <label class="hidden" for="bpm-input">BPM</label>
                    <input class="slider" oninput="changeBpm(this)" name="bpm-input" id="bpm-input" type="range" value="140" min="60" max="180" step="1" />
                    <span class="dark-info" id="bpm">140</span>
                    <span class="light-info">BPM</span>
                </div>
            </div>
            <div class="field has-addons">
                <button class="button is-success" onclick="saveBit()">Save Bit</button>
            </div>
        </div>
    </div>
    <div class="loading-overlay" id="loading-overlay">
        <div class="loading-icon">
            <div class="loadingio-spinner-cube-pgo1xiebk3"><div class="ldio-t5eydao5oj9">
                <div></div><div></div><div></div><div></div>
                </div></div>
                <style type="text/css">
                @keyframes ldio-t5eydao5oj9 {
                  0% { transform: scale(1.1) }
                  100% { transform: scale(1) }
                }
                .ldio-t5eydao5oj9 div {
                  position: absolute;
                  width: 82px;
                  height: 82px;
                  top: 12px;
                  left: 12px;
                  background: #adadad;
                  animation: ldio-t5eydao5oj9 0.8620689655172413s cubic-bezier(0,0.5,0.5,1) infinite;
                  animation-delay: -0.2586206896551724s;
                }
                .ldio-t5eydao5oj9 div:nth-child(2) {
                  top: 12px;
                  left: 106px;
                  background: #7a7a7a;
                  animation-delay: -0.17241379310344826s;
                }
                .ldio-t5eydao5oj9 div:nth-child(3) {
                  top: 106px;
                  left: 12px;
                  background: #009dff;
                  animation-delay: 0s;
                }
                .ldio-t5eydao5oj9 div:nth-child(4) {
                  top: 106px;
                  left: 106px;
                  background: #525252;
                  animation-delay: -0.08620689655172413s;
                }
                .loadingio-spinner-cube-pgo1xiebk3 {
                  width: 200px;
                  height: 200px;
                  display: inline-block;
                  overflow: hidden;
                  background: #292929;
                }
                .ldio-t5eydao5oj9 {
                  width: 100%;
                  height: 100%;
                  position: relative;
                  transform: translateZ(0) scale(1);
                  backface-visibility: hidden;
                  transform-origin: 0 0; /* see note above */
                }
                .ldio-t5eydao5oj9 div { box-sizing: content-box; }
                /* generated by https://loading.io/ */
                </style>
        </div>
        <div class="loading-text">Building Bits...</div>
    </div>
{% endblock %}