{% extends "drummachine/layout.html" %}
{% load static from static %}

{% block script %}
    <script src="{% static 'drummachine/login.js' %}"></script>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}
<div class="option-container py-2">
    <div class="name-container">
        <span class="bit-name" id="name">Login</span>
    </div>
    <div class="bits-container">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input id="username-input" class="input" type="text" placeholder="Username" value="username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                <span id="username-icon-success" class="icon is-small is-right hidden">
                    <i class="fas fa-check"></i>
                </span>
                <span id="username-icon-error" class="icon is-small is-right hidden">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <p id="username-text-success" class="help is-success hidden">This username is available.</p>
            <p id="username-text-error" class="help is-danger hidden">This username is taken.</p>
        </div>

        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input id="email-input" class="input" type="email" placeholder="Email" value="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span id="email-icon-error" class="icon is-small is-right hidden">
                    <i class="fas fa-exclamation-triangle"></i>
                </span>
            </div>
            <p id="email-text-error" class="help is-danger hidden">This email is invalid</p>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left has-icons-right">
                <input id="password-input" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                <span name="password-icon-success" class="icon is-small is-right hidden">
                    <i class="fas fa-check"></i>
                </span>
                <span name="password-icon-error" class="icon is-small is-right hidden">
                    <i class="fas fa-times"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Confirm Password</label>
            <div class="control has-icons-left has-icons-right">
                <input id="confirm-password-input" class="input" type="password" placeholder="Confirm Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
                <span name="password-icon-success" class="icon is-small is-right hidden">
                    <i class="fas fa-check"></i>
                </span>
                <span name="password-icon-error" class="icon is-small is-right hidden">
                    <i class="fas fa-times"></i>
                </span>
            </div>
            <p id="password-text-error" class="help is-danger hidden">Passwords do not match!</p>
        </div>

        <button id="submit-button" class="button is-primary">Load Bit</button>

    </div>
</div>
{% endblock %}