{% extends "drummachine/layout.html" %}
{% load static from static %}

{% block script %}
    <script src="{% static 'drummachine/register.js' %}"></script>
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="option-container py-2">
    <div class="name-container">
        <span class="bit-name" id="name">Login</span>
    </div>
    <div class="bits-container">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input name="username" id="username-input" class="input" type="text" placeholder="Username">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                    <span id="username-icon-success" class="icon is-small is-right has-text-success hidden">
                        <i class="fas fa-check"></i>
                    </span>
                    <span id="username-icon-error" class="icon is-small is-right has-text-danger hidden">
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <p id="username-text-success" class="help is-success hidden">This username is available.</p>
                <p id="username-text-error" class="help is-danger hidden">This username is taken.</p>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                    <input name="email" id="email-input" class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span id="email-icon-success" class="icon is-small is-right has-text-success hidden">
                        <i class="fas fa-check"></i>
                    </span>
                    <span id="email-icon-error" class="icon is-small is-right has-text-danger hidden">
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <p id="email-text-success" class="help is-success hidden">This email is valid.</p>
                <p id="email-text-error" class="help is-danger hidden">This email is invalid.</p>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input name="password" id="password-input" class="input password" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span name="password-icon-success" class="icon is-small is-right has-text-success hidden">
                        <i class="fas fa-check"></i>
                    </span>
                    <span name="password-icon-error" class="icon is-small is-right has-text-danger hidden">
                        <i class="fas fa-times"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label">Confirm Password</label>
                <div class="control has-icons-left">
                    <input name="confirmation" id="confirm-password-input" class="input password" type="password" placeholder="Confirm Password">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span name="password-icon-success" class="icon is-small is-right has-text-success hidden">
                        <i class="fas fa-check"></i>
                    </span>
                    <span name="password-icon-error" class="icon is-small is-right has-text-danger hidden">
                        <i class="fas fa-times"></i>
                    </span>
                </div>
                <p id="password-text-error" class="help is-danger hidden">Passwords do not match!</p>
            </div>

            <button id="submit-button" type="submit" class="button is-primary">Load Bit</button>
        </form>
    </div>
</div>
{% endblock %}